<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
		<add name="ConnectionString.PostgreSql (Npgsql)" connectionString="Database=postgres;Server=aws-1-ap-southeast-1.pooler.supabase.com;Port=5432;User Id=postgres.ovuldwpxageqxptcffgl;Password=;SslMode=Require;User Id=postgres.ovuldwpxageqxptcffgl;Password=duyhung2004@;Server=aws-1-ap-southeast-1.pooler.supabase.com;Port=5432;Database=postgres;SSL Mode=Require;Trust Server Certificate=true"/>
	</connectionStrings>
</configuration> 